<% @rooms.each do |room| %>

    <% if room.active? %>
        <div class="column is-half">
            <div class="card">
                <div class="card-image">
                    <%= link_to listing_room_path(room) do %>
                        <figure class="image is-4by3">
                            <%= image_tag room_cover(room) %>
                        </figure>
                    <% end %>
                </div>
                <br/>
                <div class="card-content p-t-5 p-b-5">
                    <p class="subtitle is-6 m-b-5"><%= link_to room.listing_name, room_path(room), data: { turbolinks: false} %></p>
                    <%= room.home_type %> | ベッド<%= room.bed_room %>台
                    <p class="subtitle is-6 m-b-5"><%= room.address %></p>
                    <!--レビュー -->
                    <span class="star-review"><i class="fa fa-star"></i>
                        <%= room.average_rating %>
                        <span class="has-text-primary">(<%= room.reviews.count %>)</span>
                    </span>
                </div>

                <footer class="card-footer">
                    <a class="has-text-danger is-block card-footer-item has-text-right">
                        <span class="small-title">１泊の宿泊価格</span> 
                        <strong><%= number_to_currency(room.price) %></strong>                                            
                    </a>
                </footer>
            </div>
        </div>
    <% end %>
<% end %>
